#nop Start up script for melkervur
#read global.tt;

#var whoami Cthul;

#alias attackCmd {queue insert freestand 5 warp};

#read occultist/misc.tt;
#read occultist/battlerage.tt;
#read occultist/occultism.tt;
#read occultist/domination.tt;
#read occultist/tarot.tt;
#read occultist/gui.tharvestt;
#read harvesting/harvest.tt;

#session cthul achaea.com 23;
cthul;
$password;

guireset;
updateCharUI;

