#nop Different forms of printing


#alias {title %1 %2} {
}

#alias {banner} {
   #line ignore #showme  <169>--------------------------------------------------------------------------------;
   #line ignore #showme  <079>             [ <139>%0 <079>]<099>;
   #line ignore #showme  <169>--------------------------------------------------------------------------------;
}

#alias {print} {
   #line ignore #showme  <169>--------------------------------------------------------------------------------;
   #line ignore #showme  <079>             [ <139>%0 <079>]<099>;
   #line ignore #showme  <169>--------------------------------------------------------------------------------;
}

#alias {err} {
   #line ignore #showme  {<431>ERROR: <408>%0<099>};
}

#alias {echo} {
   #line ignore #showme  {<238>%0<099>};
}
#alias {info} {
   #line ignore #showme  {<438>%0<099>};
}

#alias {info} {
   #line ignore #showme  {<438>%0<099>};
}

#alias {dbg} {
   #showme  {<405>DBG: <208>%0<099>};
}

#alias {pvpInfo} {
}


