#nop Start up script for melkervur
#read global.tt;

#var whoami Melkervur;

#alias attackCmd {queue insert freestand 5 swing};

registerEvent connected connected;
#alias {connected} {
   #read melkervur/battlerage.tt;
   guireset;
}

#session mel achaea.com 23;
melkervur;
$password;

