#nop Check for the following things on the target

/*
city guide available
city guide complete #
   Rank two needs 238 adn 240


238   
   city positions, politics

240
   key of iron on gold
   there is no truth but chaos
   
   The workings of Choas are
   to make war
   to overthrow
   enact paradox
   renounce all meaning
   Ashaton has pledged with Entropy and Discord, to create the Dominion of Chaos
*/
